target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

#custom 
#for index.html frontend resources

#for jar in electron-app folder
electron-jar/*.jar
electron-jar/package-lock.json
electron-jar/node_modules
electron-jar/distribution
electron-app/package-lock.json
electron-app/node_modules
electron-app/distribution

electron-app-exe/distribution
electron-app-exe/node_modules
electron-app-exe/package-lock.json
electron-app-exe/dist


